.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);

}

* {
	box-sizing: border-box;
}

body {
	background-color: hsl(212, 45%, 89%);
}

h1 {
	font-family: outf;
	font-weight: 700;
}

p {
	font-size: 14px;
	font-weight: 400;

}



.mainDiv {

	max-width: 1440px;
	height: 650px;
	text-align: center;
	padding: 60px;
	margin: 2% auto;
	position: relative;

}

.qrDiv {
	width: 400px;
	height: 600px;
	border-radius: 3%;
	text-align: center;
	padding: 20px;
	margin: 0% auto;
	background-color: white
}

.imago {
	width: 350px;
	height: 350px;
	border-radius: 3%;
}